// Currently doesn't support non-FU modded races properly
{
	"Apex" : {
		"icon" : "sapemale.png",
		"items" : {
			"techstation" : "/objects/ship/techstation/techstation.png:default.0",
			"teleporter" : "/objects/ship/teleporter/teleporter.png:default"
		}
	},
	"Floran" : {
		"icon" : "plantmale.png"
	},
	"Glitch" : {
		"icon" : "robotmale.png"
	},
	"Hylotl" : {
		"icon" : "aquaticmale.png"
	},
	"Fu_byos" : {
		"icon" : "sapemale.png",
		"items" : {
			"fu_byoscaptainschair" : "",
			"fu_byosfuelhatch" : "",
			"fu_byosshipdoor" : "",
			"fu_byosshiphatch" : "",
			"fu_byosshiplocker" : "",
			"fu_byostechstation" : "",
			"fu_byosteleporter" : "",
			"fu_byoscaptainschairdeco" : "",
			"fu_byostechstationdeco" : "",
			"fu_byosteleporterdeco" : ""
		}
	}
}