{
   "blockKey" : [
   {
      "value" : [0, 0, 0, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : false
   },
   {
      "value" : [127, 130, 135, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "slopedhullpanel",
	   "backgroundMat" : "slopedhullpanel"
   },
   {
      "value" : [186, 186, 186, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "smoothmetal",
	   "backgroundMat" : "smoothmetal"
   },
   {
      "value" : [175, 175, 175, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "smoothmetal"
   },
   {
      "value" : [150, 150, 150, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "apexshipplatformplatform",
	   "backgroundMat" : "lightmetal"
   },
   {
      "value" : [103, 132, 123, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "apexshipplatformplatform",
	   "backgroundMat" : "metallic"
   },
   {
      "value" : [103, 132, 160, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "apexshipplatformplatform",
	   "backgroundMat" : "apexshipdetails"
   },
   {
      "value" : [225, 225, 225, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "lightmetal"
   },
   {
      "value" : [32, 32, 32, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "apexshipdetails"
   },
   {
      "value" : [48, 48, 48, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "apexshipsupport"
   },
   {
      "value" : [64, 64, 64, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "rustymetal"
   },
   {
      "value" : [190, 210, 225, 255],
      "backgroundBlock" : true,
	   "backgroundMat" : "glass"
   },
   {
      "value" : [203, 220, 250, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "fuslopedglass",
	   "backgroundMat" : "fuslopedglass"
   },
   {
      "value" : [148, 177, 199, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "fuslopedglass",
	   "backgroundMat" : "smoothmetal"
   },
   {
      "value" : [0, 132, 255, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	   "foregroundMat" : "ff_diamondblock",
	   "backgroundMat" : "ff_diamondblock"
   },
   {
      "value" : [164, 26, 26, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "fu_byosteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
   },
   {
      "value" : [133, 255, 66, 255],
      "object" : "fu_smallthruster"
   },
   {
      "value" : [75, 156, 78, 255],
      "object" : "fu_largethruster"
   },
   {
      "value" : [255, 128, 128, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "apexshipdetails",
      "object" : "apexshiplight"
   },
   {
      "value" : [51, 94, 121, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "rustymetal",
      "object" : "apexshipdoor"
   },
   {
      "value" : [173, 162, 89, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "lightmetal",
      "object" : "fu_byostechstation"
   },
   {
      "value" : [169, 99, 54, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "lightmetal",
      "object" : "apexshiplocker"
   },
   {
      "value" : [114, 167, 173, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "rustymetal",
      "object" : "apexslidingdoor1"
   },
   {
      "value" : [242, 90, 74, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "lightmetal",
      "object" : "apexcaptainschair",
      "objectDirection" : "right"
   },
   {
      "value" : [151, 78, 78, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "lightmetal",
      "object" : "apexconsolekeyboard"
   },
   {
      "value" : [196, 220, 52, 255],
      "backgroundBlock" : true,
      "backgroundMat" : "lightmetal",
      "object" : "apexfuelhatch"
   }
  ]
}
