{
	"crewSize" : {
		"min" : 0,
		"totalMin" : 0,
		"totalMax" : 12
	},
	"maxFuel" : {
		"min" : -10000,
		"max" : 10000,
		"totalMin" : 0
	},
	"fuelEfficiency" : {
		"min" : -0.5,
		"max" : 0.5,
		"totalMax" : 0.9
	},
	"shipSpeed" : {
		"min" : -120,
		"max" : 120,
		"totalMin" : 5
	},
	"shipMass" : {
		"min" : -300,
		"max" : 300,
		"totalMin" : 0
	},
	"atmosphereSystem" : {
		"maxPerimeter" : 1000,
		"requireFilledBackground" : true
	}
}
